@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your expenses</h1>
    <a class="btn btn-primary" asp-action="Expenses">Overview</a>
    <a class="btn btn-secondary" asp-action="CreateEditExpense">Create New</a>
</div>
